[Unit]
Description=WB Tools Flask App
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/wb-project
Environment="PATH=/var/www/wb-project/venv/bin"
ExecStart=/var/www/wb-project/venv/bin/gunicorn \
    --workers 2 \
    --bind 127.0.0.1:8000 \
    --timeout 120 \
    --access-logfile /var/log/wb-project/access.log \
    --error-logfile /var/log/wb-project/error.log \
    app:app
Restart=always

[Install]
WantedBy=multi-user.target
